# Somente necessário se quiser testar localmente o mesmo base path do GitHub Pages.
# PUBLIC_GITHUB_USER=seu-usuario
# PUBLIC_REPO_NAME=nome-do-repositorio
# PUBLIC_BASE_PATH=/nome-do-repositorio
# PUBLIC_SITE_URL=https://seu-usuario.github.io
